.sidebarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.sidebarOptions:hover{
   background-color: #162E43;
   border-radius: 50px;
   color: #00a2ff;
   transition: color 200ms ease-in;
}

.sidebarOptions__icon{
    padding: 20px;
}

.sidebarOptions--active{
    color: #00a2ff;
}


